<header class="header">
  <div class="container row space-between align-center">
    <h1 class="logo full-width">Hotel UMG</h1>
    <nav class="row full-width space-between gap-20">
      <button mat-button routerLink="/customer/home">Inicio</button>
      <button mat-button routerLink="/customer/information/rooms">Habitaciones</button>
      <button mat-button (click)="onSearchReservations()">Reservaciones</button>
      <!-- <a routerLink="/customer/information/our-services">Servicios</a> -->
      <button mat-button routerLink="/management/login">Administracion</button>
    </nav>
  </div>
</header>