.col-card-holder-75 {
  width: 30em;
}

.col-card-holder-25 {
  width: 25%;
}

.col-card-holder {
  height: 5em;
}

.card-holder {
  height: 20em;
}

.img-card {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  height: 100%;
}