<div class="container col my-2">
  <div class="row my-2 mx-2 card-holder full-width">
    <span class="col col-card-holder-75 py-2 my-2 px-2 mx-2">
      <img src="https://s3-standard-hotel-umg-01.s3.us-east-1.amazonaws.com/public/images/room-hotel-01.jpeg"
           alt="habitacion" class="img-card">
    </span>
    <span class="col col-card-holder-25 space-around flex-column">
      <mat-chip>
        2 Adultos
        <mat-icon matChipAvatar>bed</mat-icon>
      </mat-chip>
      <mat-chip>
        Vista al cielo
        <mat-icon matChipAvatar>dark_mode</mat-icon>
      </mat-chip>
      <mat-chip>
        Jacuzzi
        <mat-icon matChipAvatar>cancel</mat-icon>
      </mat-chip>
      <mat-chip>
        Sin cargo por cancelacion
        <mat-icon matChipAvatar>free_cancellation</mat-icon>
      </mat-chip>
    </span>
  </div>
</div>
